<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>e_jquery_study</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>hikariConfig</param-name>
		<param-value>
            jdbcUrl=jdbc:oracle:thin:@localhost:1521:orcl?useSSL=false
            driverClassName=oracle.jdbc.driver.OracleDriver
            dataSource.user=erp_final_jsp
            dataSource.password=rootroot
            dataSource.cachePrepStmts=true
            dataSource.prepStmtCacheSize=250
            dataSource.prepStmtCacheSqlLimit=2048
        </param-value>
	</context-param>
</web-app>